.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #ece5dd;
}

/* HEADER */
.chat-header-pro {
  background: #075e54;
  color: white;
  padding: 10px;
}

.chat-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  font-size: 24px;
}

.name {
  font-weight: bold;
}

.status {
  font-size: 12px;
  opacity: 0.7;
}

/* BODY */
.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

/* MENSAJES */
.message-row {
  display: flex;
  margin: 5px 0;
}

.message-row.me {
  justify-content: flex-end;
}

.bubble {
  max-width: 70%;
  padding: 8px 10px;
  border-radius: 10px;
  font-size: 14px;
  position: relative;
}

.bubble.me {
  background: #dcf8c6;
}

.bubble.other {
  background: white;
}

.time {
  font-size: 10px;
  text-align: right;
  margin-top: 3px;
  opacity: 0.6;
}

/* INPUT */
.chat-input-pro {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: #f0f0f0;
}

.input-pro {
  flex: 1;
  border-radius: 20px;
  border: none;
  padding: 10px;
}

.chat-input-pro {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background: #f0f0f0;
}

/* INPUT */
.input-pro {
  flex: 1;
  border-radius: 25px;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  outline: none;
}

/* BOTÓN CTA */
.cta-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #25d366;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* BOTÓN ENVIAR */
.send-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #075e54;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

/* HOVER */
.cta-btn:hover {
  background: #1ebe5d;
}

.send-btn:hover {
  background: #0b7a6f;
}

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: #00d757;
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 25px;
}

.sign svg path {
  fill: white;
}
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}

.Btn:hover {
  width: 150px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 10px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
.Btn:active {
  transform: translate(2px, 2px);
}
